.estimator {
	input[type=range]	{
	    -webkit-appearance: none;
	    &:focus {
			outline: none;
		}
		&::-webkit-slider-runnable-track {
		    width: 100%;
		    height: 11px;
		    background: $blue;
		    border: none;
		    border-radius: 20px;
		    cursor: pointer;
		}
		&::-webkit-slider-thumb {
			position: relative;
			z-index: 99;
		    -webkit-appearance: none;
		    border: none;
		    height: 44px;
		    width: 44px;
		    border-radius: 100%;
		    background: $green_dark;
		    border: 4px solid #fff;
		    margin-top: -17px;
			-webkit-transition: all 260ms linear;
			transition: all 260ms linear;
			&:after {
			    position: absolute;
			    width: 2px;
			    height: 12px;
			    top: 12px;
			    left: 15px;
			    content: "";
			    border-left: 2px solid $green;
			    border-right: 2px solid $green;
			}
			&:before {
					
			}
			&:active {
				background: $black;
			}
		}
	}
	.comparison {
		position: relative;
		margin-bottom: 44px;
		img {
			
		}	
		.reveal {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: cover; 
			//transition: all 180ms linear;	
		}
	}	
	.ui {
		position: relative;
		width: 100%;
		height: 100px;
		overflow: hidden;
		input {
			position: absolute;
			height: 22px;
			top: 32px;
			width: 100%;	
		}
		.scale {
			position: absolute;
			//z-index: 2;
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: table;
			width: 100%;
			height: 14px;
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			li {
				position: relative;
				display: table-cell;	
				width: 10%;
				text-align: center;
			}	
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(3) {
				bottom: 0px;
				font-size: 22px;
				color: $green;
				li {
					border-right: 1px solid #fff;
					border-left: 1px solid #fff;	
				}
				@media(max-width: $screen-xs-max){
					font-size: 12px;
				}
			}
			
		}	
	}
	.box-wrapper {
		position: relative;
		z-index: 0;
		width: 100%;
		@include fluid-aspect();
		overflow: hidden;
		&:before {
			@extend %full-coverage;
			content: "";
			background-image: url(../images/estimator.truck.01.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: contain;
		}
		.box {
			top: 2%;
			left: auto;
			width: 0%;
			z-index: -1;
			background: $blue;
			//transition: all 180ms linear;
			
		}
	}
}